@import '../global';
@import '../media';

.body-slider{
  position: relative;
  margin: 0 60px 0 0;
}
.card-content-slider{
  position: relative;
  width: auto;
  height: auto;
  padding: 27px 0;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.slider-arrows{
  width: 32px;
  position: absolute;
  top: 15px;
  right: 13px;

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  z-index: 4;
}
.slider-arrows__left{
  right: 40px;
}
.body-card-slider {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background: #7d6aa5;
  margin: 10px;
  z-index: 0;


}



.body-img-slider {
  margin: 0 0 0 20px;
}

.card-img-slider {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
}

.card-title-slider {

  font-size: 32px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 66px 10px 20px 10px;
  z-index: 5;
}

.card-text-slider {

  font-size: 14px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 25px 20px;
  max-width: 400px;
  word-wrap: break-word;
  max-height: 200px;
  z-index: 2;

}

.button-body-slider {
  position: relative;

  button {
    padding: 10px 10px;
    background: #f9c358;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin: 50px 30px;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;


  }


}
